@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

:root {
    --main-color: #fff;
    --main-secondary-color: #e4e6e7;
    --secondary-color: #161920;
    --secondary-title-color: #0c0d0e;
    --grey-title-color: #3e475b;
    --orange-color: #f8a025;
    --placeholder-color: #11254f;
    --sideBar-hover: #f0f1f5;
    /**/
    --font-firaSans: "Fira Sans", sans-serif;
    /**/
    --bs-border-radius: 0.375rem;
    --bs-border-color: #dee2e6;
    --bs-border-width: 1px;
    --bs-border-style: solid;
}

.light-text {
    font-weight: 200;
    font-size: 1rem;
    line-height: 120%;
}

.bold-text {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 120%;
}

* {
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    min-width: 375px;
}

p {
    margin: 0 !important;
}

.appJs {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#components-layout-demo-fixed .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
    background: #fff;
}

/******************** NAVBAR ***********************/

.activeNavLink {
    color: aqua !important;
}

.siteNavbar {
    background-color: var(--secondary-color);
    color: var(--main-color);
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100vw;
}

.navbarCheckbox {
    -webkit-appearence: none;
    display: none;
}

.nav-bar {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: #fff;
    padding: 1rem;
}

.bar {
    display: none;
}

.search_box {
    display: flex;
    max-height: 40px;
    margin: auto 0;
    padding: 2px 8px;
}

.search-departmants {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 4.4rem;
    border-radius: 0.8rem 0 0 0.8rem;
    background-color: var(--main-secondary-color);
    border: none;
    color: var(--secondary-title-color);
    font-weight: 400;
    font-size: 0.8rem;
    overflow: scroll;
}

#navbarInput {
    background-color: #f0f1f5;
    border: none;
    outline: none;
    width: 20vw;
    padding: 0 10px;
    color: var(--placeholder-color);
    transition: 0.2s;
}

#navbarInput {
    background-color: #f0f1f5;
    border: none;
    outline: none;
    width: 20vw;
    padding: 0 10px;
    color: var(--placeholder-color);
    transition: 0.2s;
}

::placeholder {
    color: var(--placeholder-color);
    font-weight: 400;
    width: 100%;
}

.search_box input:focus {
    color: var(--placeholder-color);
    font-weight: 400;
    border: 0;
    outline: none;
    box-shadow: 0 0 5px gray;
    z-index: 1;
}

#searchIconBox {
    text-align: center;
    display: flex;
    justify-content: start;
}

.search_icon {
    background-color: var(--orange-color);
    border-radius: 0 0.8rem 0.8rem 0;
    border: none;
    padding: 8px;
}

.location {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.location-title {
    margin-left: 8px;
}

.location-icon {
    margin: auto;
}

.navLinks {
    margin: auto 0;
}

.navLinks > :first-child {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 120%;
    color: #f0f1f5;
}

.accounts-lists > * {
    color: lightgoldenrodyellow;
}

.location p:first-child,
.accounts-lists .accounts-list-dropdown p {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 120%;
}

.location p:last-child,
.accounts-lists p,
.orders p:first-child {
    font-weight: 200;
    font-size: 1rem;
    line-height: 120%;
}

.accounts-list-dropdown {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.cart-icon {
    position: relative;
    top: -25px;
}
.cart-badge {
    position: relative;
    top: -5px;
    left: 3px;
    color: #f8a025;
    font-weight: 800;
    font-size: 1rem;
}
p {
    margin: 0;
    padding: 0;
}

#shopping-cart {
    display: flex;
    align-items: center;
}
#shopping-cart > * {
    display: flex;
}

#shopping-cart > * {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 120%;
    color: #f0f1f5;
}

/******* NAVBAR END *******/

/********** SIDE BAR - START *******/

.sideBar {
    padding: 0;
    width: 20%;
    height: 89.3rem;
    overflow: scroll;
}
.sideBar::-webkit-scrollbar {
    display: none;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

#sidebarTitle {
    color: var(--grey-title-color);
    font-weight: 900;
    padding: 0.8rem 1.6rem;
    line-height: 120%;
}

#supplierItemsCont {
    margin: 0;
    padding: 0;
}
#supplierItemsCont > li {
    color: var(--grey-title-color);
    font-size: 1rem;
    font-weight: 400;
    list-style-type: none;
    padding: 0.8rem 1.6rem;
}
#supplierItemsCont > li:hover {
    background-color: var(--sideBar-hover);
}

@media (max-width: 991px) {
    .sideBar {
        display: flex;
        width: 100%;
        flex-direction: row;
        max-height: 8vh;

        margin-bottom: 10px;

        /* border-bottom: 1px solid lightgray; */

        overflow-y: hidden;
    }

    #sidebarTitle {
        margin: 0;
        border: 0 !important;

        font-size: calc(2vw + 0.5rem);

        display: flex;

        padding: auto;

        background: rgba(211, 211, 211, 0.6);
    }

    #sidebarTitle > p {
        margin: auto !important;
    }

    #supplierItemsCont {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }

    #sidebarSupplierItem {
        margin: auto;
        font-size: calc(0.5rem + 0.7vw);

        padding: 0.5rem 1rem;

        white-space: nowrap;
    }

    .sideBar > ::-webkit-scrollbar {
        height: 12px;
    }

    /* Track */
    .sideBar > ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .sideBar > ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .sideBar > ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .location {
        display: none !important;
    }

    .accounts-lists {
        display: none;
    }

    .search-departmants {
        display: none !important;
    }

    #navbarInput {
        border-radius: 0.8rem 0 0 0.8rem;
    }
}

/********** SUB NAVIGATION BAR - START ***********/

.subNavigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    user-select: none;

    /* width: 100%; */
    overflow-x: hidden;

    background: #505761;
}

.subNavigationButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    font-family: "Fira Sans", sans-serif;
    cursor: default;

    background: #e4e6e7;
    border-radius: 50px;
    border: none;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subNavigationButton:hover {
    background: #c9cdcf;
}

.catName {
    height: 16px;
    margin: 0;
    border: none;

    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    text-transform: capitalize;

    color: #303436;
}

@media (max-width: 991px) {
    .catName {
        font-size: calc(1vw + 0.4rem) !important;
    }
}

/* SUB NAVIGATION BAR - END */

/********************** SITE HOME - START ******************/

.home {
    display: flex;
    flex-direction: column;
    padding: 48px 0px 48px 8px;
    gap: 48px;

    width: 80%;

    left: 20%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    background: rgba(211, 211, 211, 0.13);
}

.home::-webkit-scrollbar {
    display: none;
}

.col-6 {
    display: flex;
    justify-content: center;
}

/* FILTER - START */

.filter {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    padding-left: 20px;
    padding-right: 40px;
    gap: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#sortingFilterSelect {
    font-size: 13px;
}

#productsPerPage > select {
    font-size: 13px;
}

.filterInputs {
    transition: 0.15s ease-in-out;
    border-radius: 3px;
}

.filterInputs:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    outline: 0;
}

@media (max-width: 557px) {
    #priceRange > div {
        justify-content: center !important;
    }
}
@media (max-width: 991px) {
    .filter {
        display: block !important;
        padding: 0 !important;
    }

    #filterContainer {
        flex-direction: column !important;
        gap: 0 !important;
    }

    #productsPerPage {
        width: 75%;
        margin: auto;
        margin-bottom: 5px;
        justify-content: space-between;
    }
    #productsPerPage > * {
        font-size: calc(0.6rem + 0.5vw);
    }
    #priceRange {
        width: 75%;
        margin: auto;
        font-size: calc(0.7rem + 0.4vw);
        justify-content: center;
        border-bottom: 1px solid whitesmoke;
        border-left: 1px solid whitesmoke;
    }

    #sortingFilter {
        width: 75%;
        margin: auto;
        justify-content: center;
        font-size: calc(0.6rem + 0.5vw);
        border-bottom: 1px solid whitesmoke;
        border-left: 1px solid whitesmoke;
    }
    #sortingFilter > div {
        width: 100%;
        justify-content: space-between;
    }

    #sortingFilterSelect {
        width: 50% !important;
        font-size: calc(0.5rem + 0.5vw);
    }

    #productsPerPage > select {
        width: 50% !important;
        font-size: calc(0.5rem + 0.5vw);
    }

    #productCount {
        width: 75%;
        margin: auto;
        padding-top: 5px;
        justify-content: center;
        font-size: calc(0.6rem + 0.5vw);
        border-right: 1px solid whitesmoke;
        border-left: 1px solid whitesmoke;
    }

    #paginationBox {
        width: 75%;
        margin: 6px auto;
        justify-content: center;
        font-size: calc(0.6rem + 0.5vw);
    }

    #paginationBox > div > div > div > * {
        font-size: calc(0.6rem + 0.5vw);
    }
}

/* FILTER - END */

/* CARDS - START */

.card {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1.6vw;
    gap: 14px;
    margin: auto;
    margin-bottom: 40px;
    overflow: hidden;

    width: 95%;

    background: #ffffff;

    border: 1px solid #e4e6e7;
    border-radius: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardImgCont {
    display: flex;
    width: 40%;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}
.cardImg {
    background: #c4c4c4;
    border-radius: 16px;

    width: 100%;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
    gap: 0.8vw;

    width: 55%;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

@media (max-width: 991px) {
    .cardCol {
        gap: 1vw;
        padding: 0;
    }

    .cardPrice {
        font-size: calc(0.8rem + 1vw) !important;
    }

    .cardProduct {
        font-size: calc(0.8vw + 0.5rem) !important;
    }
    .cardImg {
        background: #c4c4c4;
        border-radius: 16px;
        min-width: 80px;
        width: 20vw;

        margin-right: auto;

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .cardButton {
        padding: 0.5vw 1vw !important;
        width: 13vw;
        font-size: 1.4vw !important;
        justify-content: center;

        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
}

.cardPrice {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    font-family: "Fira Sans";

    font-weight: 500;
    font-size: calc(0.7rem + 1vw);
    line-height: 120%;

    color: #303436;

    width: auto;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.cardProduct {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    padding-right: 3px;

    font-weight: 600;
    font-size: calc(0.5rem + 0.5vw);
    line-height: 120%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #60686c;

    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.cardRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 2px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.ratingStars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ratingText {
    margin: 0;
    margin-left: 10px;

    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;

    color: #939b9f;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.4vw 0.9vw;

    font-size: calc(0.4rem + 0.5vw);
    background: #f8a025;
    color: black;
    border: none;
    border-radius: 4px;

    flex: none;
    order: 3;
    flex-grow: 0;
}

#favStarCont > div > svg {
    color: goldenrod;
    width: calc(1.4vw + 0.5rem);
    height: calc(1.4vw + 0.5rem);
}
#favStarCont > div > svg > path {
    color: goldenrod;
}

/* .cardRankContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    padding-right: 3px;

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 1;
}

.cardRankBtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;

    width: 22px;
    height: 20px;

    background: #ed7112;
    border: none;
    border-radius: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardRankText {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

    text-align: center;
    text-transform: capitalize;

    color: #2f1704;

    flex: none;
    order: 0;
    flex-grow: 1;
} */

/* CARDS - END */

/********************** SITE HOME - END ******************/

/*********************** CART - START ****************************/
#cartBtn {
    background: rgb(255, 216, 20);
    transition: 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#cartBtn:hover {
    background: #f7ca00;
}

#cartProdName {
    line-height: 1.2em;
    max-height: 4.9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cartProductsText {
    font-size: 15px;
}

.cartSummaryBox {
    padding: 0 2.5vw;
}

@media (max-width: 991px) {
    .cartProductsText {
        font-size: calc(0.6rem + 0.6vw);
    }
    .cartSummaryText {
        font-size: calc(0.5rem + 1vw);
    }
    #cartBtn {
        width: 18vw;
        font-size: calc(0.5rem + 0.6vw);
    }
}
@media (max-width: 375px) {
    .cartProductsText {
        font-size: 11.75px;
    }
    .cartSummaryText {
        font-size: 11.75px;
    }
    #cartBtn {
        width: 18vw;
        font-size: 11.75px;
    }
}

/*********************** CART - END ****************************/

/************************ FAVORITE PAGE - START ***************/

#favPageStarImg {
    height: 150px;
    width: 150px;
}

#emptyFavText {
    border-right: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
}

#favPageBtn {
    background: rgb(255, 216, 20);
    padding: 8px 16px;
    border: none;
}

#favPageBtn:hover {
    border: none;
    background: rgb(247, 202, 0);
}

#rmvAllFavBtn {
    background: rgb(255, 216, 20);
    padding: 8px 16px;
    border: none;
    font-size: calc(0.5vw + 0.5rem);
}

#rmvAllFavBtn:hover {
    border: none;
    background: rgb(247, 202, 0);
}

@media (max-width: 991px) {
    .favProductText {
        font-size: calc(0.8vw + 0.5rem) !important;
    }
}

@media (max-width: 500px) {
    #favPageHead {
        display: block !important;
    }

    #favPageHead > * {
        margin: auto !important;
        margin-top: 10px !important;
        text-align: center;
    }
}

/************************ FAVORITE PAGE - END ***************/

/**************** CARD DETAIL PAGE - START *****************/

#detailPageFavStarCont > div > svg {
    color: goldenrod;
    width: 2rem;
    height: 2rem;
}
#detailPageFavStarCont > div > svg > path {
    color: goldenrod;
}

/**************** CARD DETAIL PAGE - END *****************/

/**************** ADMIN PAGE  -  START ***************/

.adminPageNavbar {
    background-color: #161920;
    max-width: 100vw;
}

.adminPageNavbar > div > a {
    color: rgb(255, 255, 255);
}
.adminPageNavbar > div > a:hover {
    color: rgb(0, 220, 220);
}

/*********** AUTH **********/

/* ALL AUTH PAGES */
#imgCont {
    display: flex;
    justify-content: center;
    padding: 0;
}
#imgCont > div {
    max-width: 50vw;
    max-height: 50vw;
}
#imgCont > div > img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    user-select: none;
}

#forgotCont > div {
    transition: 0.3s;
}
#forgotCont > div:hover {
    transform: scale(1.2) !important;
}

.auth-form-input {
    transition: 0.5s;
}

.auth-form-input:focus {
    border: 1px solid rgb(255, 0, 0, 0);
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    box-shadow: none;
    border-radius: 0;
}

@media (max-width: 991px) {
    #imgCont {
        border: 0 !important;
    }
    #loginImg {
        display: none;
    }

    #registerImg {
        display: none;
    }

    #resetPassImg {
        display: none;
    }

    .loginPageCont {
        margin: 20px auto !important;
    }
    .newPassPageCont {
        margin: 20px auto !important;
    }
    .registerPageCont {
        margin: 20px auto !important;
    }
    .resetPassPageCont {
        margin: 20px auto !important;
    }
    .adminLoginPageCont {
        margin: 20px auto !important;
    }

    #loginCont {
        background: url("https://live.staticflickr.com/65535/52364926883_de6a3ded9e_c.jpg")
            no-repeat center !important;
        background-size: cover !important;
        border: none !important;
        padding: 0 !important;
        min-height: 80vh !important;
    }

    #adminLoginCont {
        background: url("https://live.staticflickr.com/65535/52371781468_7437f9aba8_o.png")
            no-repeat center !important;
        background-size: cover !important;
        border: none !important;
        padding: 0 !important;
        min-height: 80vh !important;
    }

    #registerCont {
        background: url("https://live.staticflickr.com/65535/52364701191_5bef2751d6_k.jpg")
            no-repeat center !important;
        background-size: cover !important;
        border: none !important;
        padding: 0 !important;
        min-height: 80vh !important;
    }

    #resetPassCont {
        background: url("https://live.staticflickr.com/65535/52367925557_216d1d1ce7_b.jpg")
            no-repeat center !important;
        background-size: cover !important;
        border: none !important;
        padding: 0 !important;
        min-height: 80vh !important;
    }

    #newPassCont {
        background: url("https://live.staticflickr.com/65535/52378431761_72c3359112_o.jpg")
            no-repeat center !important;
        background-size: cover !important;
        border: none !important;
        padding: 0 !important;
        min-height: 80vh !important;
    }

    #loginCont > div {
        background: rgba(255, 255, 255, 0.7);
        background-size: cover !important;
        height: 100%;
    }

    #adminLoginCont > div {
        background: rgba(255, 255, 255, 0.8);
        background-size: cover !important;
        height: 100%;
    }

    #registerCont > div {
        background: rgba(255, 255, 255, 0.7);
        background-size: cover !important;
        height: 100%;
    }

    #resetPassCont > div {
        background: rgba(255, 255, 255, 0.7);
        background-size: cover !important;
        height: 100%;
    }

    #newPassCont > div {
        background: rgba(255, 255, 255, 0.7);
        background-size: cover !important;
        height: 100%;
    }

    #forgotCont > div {
        width: 51% !important;
    }
}

/**** PROFILE PAGE *****/
.profilePageCont {
    margin-bottom: 20px;
}
.profilePageCont > :nth-child(1) > h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.profilePageContent {
    border: 1px solid lightgray;
    border-radius: 5px;
}
.profilePageContent > :nth-child(1) {
    padding: 0;
    /* border-right: 1px solid lightgray; */
}
.profilePageContent > :nth-child(2) {
    padding: 0;
}

.profilePageLinks {
    background-color: #161920;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
}
.profilePageLinks > a {
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
}

.profilePageRoutes {
    /* border: 1px solid lightgray; */
    display: flex;
    justify-content: center;
}

/**** PROFILE DETAIL */
.profileDetailCont {
}
.profileDetailCont > div {
    padding: 30px;
}

.form-item {
    margin-top: 20px;
}

.profilePageBtn {
    margin-top: 25px;
    display: flex;
    justify-content: end;
}

/*** PROFILE ADDRESS */
.profileAddressCont {
    width: 100%;
    display: flex;
    justify-content: center;
}
.profileAddressCont > div {
    padding: 30px;
    width: 75%;
}
.profileAddressLinks {
    background-color: #161920;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
}
.profileAddressLinks > a {
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
}

.profileAddressRoutes {
    padding: 30px;
    display: flex;
    justify-content: center;
}

/*add*/
.profileAddressBtn {
    margin-top: 30px;
    text-align: end;
}

/*list*/
.addressItem {
    margin-bottom: 20px;
}
.addressListCont {
    width: 100%;
}
.addressListCont > :nth-child(1) {
    text-align: center;
}

.addressesCont {
    width: 100%;
}
.addressesCont tr:nth-child(even) {
    background-color: #dddddd;
}
.addressesCont > :nth-child(1) {
    border-bottom: 1px solid black;
}
.addressesCont > :nth-child(1) > * {
    padding: 5px;
    text-align: center;
}
.addressesCont > :nth-child(1) > :nth-child(2) {
    width: 20%;
}
.addressesCont > :nth-child(1) > :nth-child(2) {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 65%;
}
.addressesCont > :nth-child(1) > :nth-child(3) {
    width: 15%;
}

.addressListCont {
    height: 100%;
}
.addressListCont > td {
    padding: 5px;
    text-align: center;
}
.addressListCont > :nth-child(2) {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.addressListCont > :nth-child(3) > * {
    margin: 5px 5px;
}
.addressListCont > :nth-child(3) svg {
    font-size: 18px;
    cursor: pointer;
}

.addressListCont > :nth-child(3) > :nth-child(2) > svg {
    fill: crimson;
}
