@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

:root {
    --main-color: #fff;
    --secondary-color: #161920;
    --lightgray: #d3d3d3;
    --transparent-gray: #ffffffb3;
    --darkgray: #60686c;
    --black: #000000;
    --orange: #f8a025;
    --btn-first-color: #ffd814;
    --btn-first-color-hover: #ffd814;
    --btn-secondary-color: #60686c;
    --btn-secondary-color-hover: #d3d3d3;
    --active-link: #00ffff;
    --primary-hover-color: #d3d3d3;
    /**/
    --font-primary: "Fira Sans", sans-serif;
    /**/
    --primary-text: #000000;
    --secondary-text: #fff;
    --alternative-text: #60686c;
    /**/
    --light-window-color: #f8f8f8;
    --dark-window-color: #d3d3d3;
}

.light-text {
    font-weight: 200;
    font-size: 1rem;
    line-height: 120%;
}

.bold-text {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 120%;
}

* {
    box-sizing: border-box !important;
    font-family: var(--font-primary);
}

body {
    min-width: 375px;
    background-color: var(--main-color);
}

p {
    margin: 0 !important;
}

.appJs {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.appJs > :last-child {
    margin-top: auto !important;
}

/**** LOADING ***/
.loadingContainer {
    height: 100vh;
    display: flex;
    background: var(--secondary-color);
    opacity: 1;
    transition: 1s;
}

/******************** NAVBAR ***********************/

.activeNavLink {
    color: var(--active-link) !important;
}

.siteNavbar {
    background-color: var(--secondary-color);
    color: var(--main-color);
    max-width: 100vw;
    width: 100% !important;
    display: flex;
    padding: 1rem;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
}

.navbarCheckbox {
    -webkit-appearence: none;
    display: none;
}

.navbarLogo {
    display: flex;
    justify-content: center;
    width: 10%;
}

.navItems {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: var(--main-color);
    width: 70%;
    transition: 0.3s;
}

.navbarSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.search_box {
    display: flex;
    justify-content: center;
    max-height: 40px;
    padding: 2px;
    max-width: 100% !important;
}

.navbarMenu {
    display: none;

    div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        span {
            font-size: 35px;
            position: absolute;
            transition: 0.3s;

            &:nth-child(1) {
                margin-top: 12px;
            }

            &:nth-child(2) {
                margin-bottom: 12px;
            }
        }
    }
}
.navbarMenuToggle {
    div {
        span {
            &:nth-child(1) {
                transform: rotate(45deg);
                margin: 0;
            }

            &:nth-child(2) {
                transform: rotate(-45deg);
                margin: 0;
            }
        }
    }
}

@media (max-width: 991px) {
    .siteNavbar {
        display: flex;
        flex-wrap: wrap;
    }
    .siteNavbar > :nth-child(1) {
        width: 10%;
        padding: 0 5px;
    }
    .siteNavbar > :nth-child(2) {
        width: 80%;
        padding: 0 5px;
    }
    .siteNavbar > :nth-child(3) {
        width: 10%;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navItems {
        flex-direction: column;
        /* gap: 20px; */
        width: 100%;

        height: 0px;
        visibility: hidden;
        opacity: 0;
    }
    .navbarToggle {
        height: 240px;
        max-height: 90vh !important;
        visibility: visible !important;
        opacity: 1 !important;
        padding: 16px 0 0 0;
    }
}

.search-departmants {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 4.4rem;
    border-radius: 0.8rem 0 0 0.8rem;
    background-color: var(--light-window-color);
    border: none;
    color: var(--black);
    font-weight: 400;
    font-size: 0.8rem;
    overflow: scroll;
}

#navbarInput {
    background-color: var(--main-color);
    color: var(--primary-text);
    border: none;
    outline: none;
    padding: 0 10px;
    transition: 0.2s;
    width: 100%;
}

::placeholder {
    color: var(--primary-text);
    font-weight: 400;
    width: 100%;
}

.search_box input:focus {
    border: 0;
    outline: none;
    box-shadow: 0 0 5px gray;
    z-index: 1;
}

#searchIconBox {
    text-align: center;
    display: flex;
    justify-content: start;
}

.search_icon {
    background-color: var(--orange);
    border-radius: 0 0.8rem 0.8rem 0;
    border: none;
    padding: 8px;
}

.location {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.location-title {
    margin-left: 8px;
}

.location-icon {
    margin: auto;
}

.navLinks {
    margin: auto 0;
}

.navLinks > :first-child {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 120%;
    color: var(--secondary-text);
}

.accounts-list-dropdown {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.cart-icon {
    position: relative;
    top: -25px;
}
.cart-badge {
    position: relative;
    top: -5px;
    left: 3px;
    color: var(--orange);
    font-weight: 800;
    font-size: 1rem;
}
p {
    margin: 0;
    padding: 0;
}

#shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

#shopping-cart > * {
    display: flex;
}

#shopping-cart > * {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 120%;
    color: var(--secondary-text);
}

/******* NAVBAR END *******/

/***** FOOTER START *****/

.footerContainer {
    background: var(--secondary-color);
    min-height: 80px;
}
.footerContainer * {
    padding: 0;
}
.footerContainer > div {
    width: 100%;
    justify-content: space-between;
}

.footerLogo {
    margin: auto;
}
.footerLogo > img {
    width: 50px;
    height: 50px;
    margin: auto;
    cursor: pointer;
}

.footerDesc {
    text-align: center;
    align-self: center;
    color: var(--secondary-text);
}

.footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footerLinks > a {
    color: var(--secondary-text);
    font-size: 16px;
}

/***** FOOTER END *****/

/********** SIDE BAR - START *******/

.sideBar {
    padding: 0;
}
.sideBar > div {
    position: sticky;
    top: 130px;
}

#sidebarTitle {
    color: var(--primary-text);
    font-weight: 800;
    padding: 12px 20px;
    line-height: 120%;
}
#sidebarTitle > p {
    margin: 0;
}

#supplierItemsCont {
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

#sidebarSupplierItem {
    color: var(--primary-text);
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    list-style-type: none;
    padding: 12px 20px;
    transition: 0.15s;
}
#sidebarSupplierItem:hover {
    background-color: var(--primary-hover-color);
}

@media (max-width: 768px) {
    .sideBar {
        display: flex;
        width: 100%;
        flex-direction: row;
        max-height: 8vh;
        overflow-y: hidden;
        position: sticky;
        top: 130px;
        z-index: 1;
        background: var(--main-color);
        border-bottom: 1px solid var(--darkgray);
    }
    .sideBar > div {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    #sidebarTitle {
        margin: 0;
        border: 0 !important;
        font-size: 20px;
        display: flex;
        padding: auto;
        background: var(--light-window-color);
    }

    #sidebarTitle > p {
        margin: auto !important;
    }

    #supplierItemsCont {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }

    #sidebarSupplierItem {
        margin: auto;
        font-size: 14px;
        padding: 0.5rem 1rem;
        white-space: nowrap;
    }
}

/********** SUB NAVIGATION BAR - START ***********/

.subNavigation {
    position: sticky;
    top: 74px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    user-select: none;
    overflow-x: hidden;
    background: var(--darkgray);
}

.subNavigationButton {
    padding: 4px 8px;
    font-family: "Fira Sans", sans-serif;
    cursor: default;
    transition: 0.15s;
    background: var(--light-window-color);
    color: var(--primary-text);
    border-radius: 50px;
    border: none;
}

.subNavigationButton:hover {
    background: var(--primary-hover-color);
}

.catName {
    height: 16px;
    border: none;
    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: var(--primary-text);
    width: 100%;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .catName {
        font-size: 14px;
    }
}

/* SUB NAVIGATION BAR - END */

/********************** SITE HOME - START ******************/

.home {
    display: flex;
    flex-direction: column;
    padding: 48px 0px 48px 0px;
    gap: 48px;

    background: var(--light-window-color);
}

.homepageContent {
    display: flex;
    flex-wrap: wrap;
    height: 100% !important;
}
.homepageContent > :nth-child(1) {
    width: 20%;
}
.homepageContent > :nth-child(2) {
    width: 80%;
}

@media (max-width: 768px) {
    .homepageContent > :nth-child(1) {
        width: 100%;
    }
    .homepageContent > :nth-child(2) {
        width: 100%;
    }
}

.siteHome {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.siteHome > div {
    padding: 20px 20px;
    width: 50%;
}

@media (max-width: 991px) {
    .siteHome > div {
        width: 100%;
    }
}

/* FILTER - START */

.filter {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    padding-left: 20px;
    padding-right: 40px;
    gap: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#sortingFilterSelect {
    font-size: 13px;
}

#productsPerPage > select {
    font-size: 13px;
}

.filterInputs {
    transition: 0.15s ease-in-out;
    border-radius: 3px;
}

.filterInputs:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    outline: 0;
}

@media (max-width: 557px) {
    #priceRange > div {
        justify-content: center !important;
    }
}
@media (max-width: 768px) {
    .filter {
        display: block !important;
        padding: 0 !important;
    }

    #filterContainer {
        flex-direction: column !important;
        gap: 0 !important;
    }

    #productsPerPage {
        width: 75%;
        margin: auto;
        margin-bottom: 5px;
        justify-content: space-between;
    }
    #productsPerPage > * {
        font-size: calc(0.6rem + 0.5vw);
    }
    #priceRange {
        width: 75%;
        margin: auto;
        justify-content: center;
        border-bottom: 1px solid var(--light-window-color);
        border-left: 1px solid var(--light-window-color);
    }

    #sortingFilter {
        width: 75%;
        margin: auto;
        justify-content: center;
        border-bottom: 1px solid var(--light-window-color);
        border-left: 1px solid var(--light-window-color);
    }
    #sortingFilter > div {
        width: 100%;
        justify-content: space-between;
    }

    #sortingFilterSelect {
        width: 50% !important;
    }

    #productsPerPage > select {
        width: 50% !important;
    }

    #productCount {
        width: 75%;
        margin: auto;
        padding-top: 5px;
        justify-content: center;
        border-right: 1px solid var(--light-window-color);
        border-left: 1px solid var(--light-window-color);
    }

    #paginationBox {
        margin: 6px auto;
        justify-content: center;
    }

    #paginationBox > div > div > div > * {
    }
}
#paginationBox {
    padding: 0;
    margin: 0;
}

/* FILTER - END */

/* CARDS - START */

.card {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 10px;
    gap: 10px;
    margin: auto;
    overflow: hidden;
    width: 100%;
    background: var(--main-color);
    border: none;
    border-radius: 5px;
}

.cardImgCont {
    display: flex;
    width: 40%;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    min-width: 120px;
    max-width: 200px;
}
.cardImg {
    border-radius: 16px;
    width: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.cardCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    width: 60%;
    margin: auto;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }
    .cardCol {
        gap: 8px;
        padding: 0;
        width: 100%;
    }

    .cardPrice {
        font-size: 20px !important;
        margin: auto;
    }

    .cardProduct {
        font-size: 14px !important;
        justify-content: center;
    }
    .cardImg {
        min-width: 80px;
        margin-right: auto;
    }
}

.cardPrice {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    font-family: "Fira Sans";

    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: var(--primary-text);
    width: auto;
}

.cardProduct {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    padding-right: 3px;

    font-weight: 600;
    font-size: 14px;
    line-height: 120%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #60686c;

    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.cardRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 2px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.ratingStars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardButton {
    padding: 6px 12px;
    font-size: 13px;
    background: var(--btn-first-color);
    color: black;
    border: none;
    border-radius: 4px;
}
.cardButton:hover {
    background: var(--btn-first-color-hover);
}

#favStarCont {
    display: flex;
    margin: auto 16px;
}

#favStar {
    color: var(--btn-first-color);
    width: 28px;
    height: 28px;
}
#favStar > path {
    color: var(--btn-first-color);
}

/* .cardRankContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    padding-right: 3px;

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 1;
}

.cardRankBtn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;

    width: 22px;
    height: 20px;

    background: #ed7112;
    border: none;
    border-radius: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cardRankText {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

    text-align: center;
    text-transform: capitalize;

    color: #2f1704;

    flex: none;
    order: 0;
    flex-grow: 1;
} */

/* CARDS - END */

/********************** SITE HOME - END ******************/

/*********************** CART - START ****************************/
#cartBtn {
    background: var(--btn-first-color);
    transition: 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#cartBtn:hover {
    background: var(--btn-first-color-hover);
}

#cartProdName {
    line-height: 1.2em;
    max-height: 4.9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cartProductsText {
    font-size: 15px;
}

.cartSummaryBox {
    padding: 0 2.5vw;
}

@media (max-width: 991px) {
    .cartProductsText {
        font-size: calc(0.6rem + 0.6vw);
    }
    .cartSummaryText {
        font-size: calc(0.5rem + 1vw);
    }
    #cartBtn {
        width: 18vw;
        font-size: calc(0.5rem + 0.6vw);
    }
}
@media (max-width: 375px) {
    .cartProductsText {
        font-size: 11.75px;
    }
    .cartSummaryText {
        font-size: 11.75px;
    }
    #cartBtn {
        width: 18vw;
        font-size: 11.75px;
    }
}

/*********************** CART - END ****************************/

/************************ FAVORITE PAGE - START ***************/

#favPageStarImg {
    height: 150px;
    width: 150px;
}

#emptyFavText {
    border-right: 3px solid var(--lightgray);
    border-bottom: 3px solid var(--lightgray);
}

#favPageBtn {
    background: var(--btn-first-color);
    padding: 8px 16px;
    border: none;
}

#favPageBtn:hover {
    border: none;
    background: var(--btn-first-color-hover);
}

#rmvAllFavBtn {
    background: var(--btn-first-color);
    padding: 8px 16px;
    border: none;
    font-size: calc(0.5vw + 0.5rem);
}

#rmvAllFavBtn:hover {
    border: none;
    background: var(--btn-first-color-hover);
}

@media (max-width: 991px) {
    .favProductText {
        font-size: calc(0.8vw + 0.5rem) !important;
    }
}

@media (max-width: 500px) {
    #favPageHead {
        display: block !important;
    }

    #favPageHead > * {
        margin: auto !important;
        margin-top: 10px !important;
        text-align: center;
    }
}

/************************ FAVORITE PAGE - END ***************/

/**************** CARD DETAIL PAGE - START *****************/

#detailPageFavStarCont > div > svg {
    color: var(--orange);
    width: 2rem;
    height: 2rem;
}
#detailPageFavStarCont > div > svg > path {
    color: var(--orange);
}

/**************** CARD DETAIL PAGE - END *****************/

/**************** ADMIN PAGE  -  START ***************/

.adminPageNavbar {
    background-color: var(--secondary-color);
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid gray;
}

.adminPageNavbar > a {
    color: var(--secondary-text);
    padding: 25px 0;
    font-weight: 500;
    width: 100%;
    text-align: center;
    transition: 0.25s;
}
.adminPageNavbar > a:hover {
    background-color: var(--darkgray);
}

.adminActiveNavLink {
    color: var(--secondary-color) !important;
    background-color: var(--main-color) !important;
}

/*********** AUTH **********/

/* ALL AUTH PAGES */
#imgCont {
    display: flex;
    justify-content: center;
    padding: 0;
}
#imgCont > div {
    max-width: 50vw;
    max-height: 50vw;
}
#imgCont > div > img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    user-select: none;
}

#forgotCont > div {
    transition: 0.3s;
}
#forgotCont > div:hover {
    transform: scale(1.2) !important;
}

.auth-form-input {
    transition: 0.5s;
}

.auth-form-input:focus {
    border: 1px solid var(--lightgray);
    border-bottom: 1px solid var(--darkgray);
    box-shadow: none;
    border-radius: 0;
}

@media (max-width: 991px) {
    #imgCont {
        border: 0 !important;
    }
    #loginImg {
        display: none;
    }

    #registerImg {
        display: none;
    }

    #resetPassImg {
        display: none;
    }

    .loginPageCont {
        margin: 20px auto !important;
    }
    .newPassPageCont {
        margin: 20px auto !important;
    }
    .registerPageCont {
        margin: 20px auto !important;
    }
    .resetPassPageCont {
        margin: 20px auto !important;
    }
    .adminLoginPageCont {
        margin: 20px auto !important;
    }

    #loginCont {
        background: url("https://live.staticflickr.com/65535/52364926883_de6a3ded9e_c.jpg")
            no-repeat center !important;
        background-size: cover !important;
        border: none !important;
        padding: 0 !important;
        min-height: 80vh !important;
    }

    #adminLoginCont {
        background: url("https://live.staticflickr.com/65535/52371781468_7437f9aba8_o.png")
            no-repeat center !important;
        background-size: cover !important;
        border: none !important;
        padding: 0 !important;
        min-height: 80vh !important;
    }

    #registerCont {
        background: url("https://live.staticflickr.com/65535/52364701191_5bef2751d6_k.jpg")
            no-repeat center !important;
        background-size: cover !important;
        border: none !important;
        padding: 0 !important;
        min-height: 80vh !important;
    }

    #resetPassCont {
        background: url("https://live.staticflickr.com/65535/52367925557_216d1d1ce7_b.jpg")
            no-repeat center !important;
        background-size: cover !important;
        border: none !important;
        padding: 0 !important;
        min-height: 80vh !important;
    }

    #newPassCont {
        background: url("https://live.staticflickr.com/65535/52378431761_72c3359112_o.jpg")
            no-repeat center !important;
        background-size: cover !important;
        border: none !important;
        padding: 0 !important;
        min-height: 80vh !important;
    }

    #loginCont > div {
        background: var(--transparent-gray);
        background-size: cover !important;
        height: 100%;
    }

    #adminLoginCont > div {
        background: var(--transparent-gray);
        background-size: cover !important;
        height: 100%;
    }

    #registerCont > div {
        background: var(--transparent-gray);
        background-size: cover !important;
        height: 100%;
    }

    #resetPassCont > div {
        background: var(--transparent-gray);
        background-size: cover !important;
        height: 100%;
    }

    #newPassCont > div {
        background: var(--transparent-gray);
        background-size: cover !important;
        height: 100%;
    }

    #forgotCont > div {
        width: 51% !important;
    }
}

/**** PROFILE PAGE *****/
.profilePageCont {
    margin-bottom: 20px;
}
.profilePageCont > :nth-child(1) > h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.profilePageContent {
    border: 1px solid var(--dark-window-color);
}
.profilePageContent > :nth-child(1) {
    padding: 0;
    /* border-right: 1px solid lightgray; */
}
.profilePageContent > :nth-child(2) {
    padding: 0;
}

.profilePageLinks {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
}
.profilePageLinks > a {
    color: var(--secondary-text);
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
}

.profilePageRoutes {
    /* border: 1px solid lightgray; */
    display: flex;
    justify-content: center;
    background-color: var(--light-window-color);
}

/**** PROFILE DETAIL */
.profileDetailCont {
}
.profileDetailCont > div {
    padding: 30px;
}

.form-item {
    margin-top: 20px;
}

.profilePageBtn {
    margin-top: 25px;
    display: flex;
    justify-content: end;
}

/*** PROFILE ADDRESS */
.profileAddressCont {
    width: 100%;
    display: flex;
    justify-content: center;
}
.profileAddressCont > div {
    padding: 30px;
    width: 75%;
}
.profileAddressLinks {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
}
.profileAddressLinks > a {
    color: var(--secondary-text);
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
}

.profileAddressRoutes {
    padding: 30px;
    display: flex;
    justify-content: center;
    background: var(--main-color);
    border: 1px solid var(--dark-window-color);
}

/*add*/
.profileAddressBtn {
    margin-top: 30px;
    text-align: end;
}

/*list*/
.addressItem {
    margin-bottom: 20px;
}
.addressListCont {
    width: 100%;
}
.addressListCont > :nth-child(1) {
    text-align: center;
}

.addressesCont {
    width: 100%;
}
.addressesCont tr:nth-child(even) {
    background-color: var(--dark-window-color);
}
.addressesCont > :nth-child(1) {
    border-bottom: 1px solid black;
}
.addressesCont > :nth-child(1) > * {
    padding: 5px;
    text-align: center;
}
.addressesCont > :nth-child(1) > :nth-child(2) {
    width: 20%;
}
.addressesCont > :nth-child(1) > :nth-child(2) {
    border-left: 1px solid var(--darkgray);
    border-right: 1px solid var(--darkgray);
    width: 65%;
}
.addressesCont > :nth-child(1) > :nth-child(3) {
    width: 15%;
}

.addressListCont {
    height: 100%;
}
.addressListCont > td {
    padding: 5px;
    text-align: center;
}
.addressListCont > :nth-child(2) {
    border-left: 1px solid var(--darkgray);
    border-right: 1px solid var(--darkgray);
}
.addressListCont > :nth-child(3) > * {
    margin: 5px 5px;
}
.addressListCont > :nth-child(3) svg {
    font-size: 18px;
    cursor: pointer;
}

.addressListCont > :nth-child(3) > :nth-child(2) > svg {
    fill: crimson;
}

/*********** MODAL ***********/
.ant-modal-content {
    border-radius: 8px;
}
.ant-modal-header {
    border-radius: 8px;
}
.ant-modal-body > p {
    font-weight: 500;
}

/******** SCROLLBARS ********/
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--lightgray);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--darkgray);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}
