$main-color: #fff;
$main-secondary-color: #e4e6e7;
$secondary-color: #161920;
$secondary-title-color: #0c0d0e;
$grey-title-color: #3e475b;
$orange-color: #f8a025;
$placeholder-color: #11254f;
$sideBar-hover: #f0f1f5;
